<%- include('../header'); -%>

<div class="container">
    <table id='user'>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>
                    <%= data.user.f_name %> <%= data.user.l_name %>
                </td>
            </tr>
            <tr>
                <td>username:</td><td><%= data.user.user_name %></td>
            </tr>
            <tr>
                <td>Email:</td><td><%= data.user.email %></td>
            </tr>
            <tr>
                <td>Role:</td><td><%= data.user.role %></td>
            </tr>
            <tr>
                <td>Status:</td><td><%= data.user.active == 1 ? 'active' : 'disabled' %></td>
            </tr>
        </tbody>
        <caption><a href="/users/<%= %>" class="btn">edit</caption>
    </table>
</div>

<%- include('../footer'); -%>
